# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs/design_decisions.md
*.pdf
docs/design_decisions.md
__pycache__/
docs/
ABM_INTEGRATION_GUIDE.md
AGENT_SYSTEM_ARCHITECTURE.md
*.code-workspace
